= form_with model: [:school, fee_structure], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
  .row
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.classrooms.table.name')
      = f.text_field :name, class: "form-control #{error?(@fee_structure.errors, :name)}", value: f.object.name, placeholder: 'Name', required: true
      = print_error(@fee_structure.errors, :name)
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.classrooms.table.tuition_fee')
      = f.text_field :tuition_fee, class: "form-control #{error?(@fee_structure.errors, :tuition_fee)}", value: f.object.tuition_fee, placeholder: 'Tuition Fee', id: 'tuition_fees', required: true
      = print_error(@fee_structure.errors, :tuition_fee)
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.classrooms.table.other_expense')
      = f.text_field :other_expense, class: "form-control #{error?(@fee_structure.errors, :other_expense)}", value: f.object.other_expense, placeholder: 'Other Expense', id: 'other_expense', required: true
      = print_error(@fee_structure.errors, :other_expense)
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.classrooms.table.classroom_id')
      = f.select :classroom_id, current_college.classrooms.all.map { |classroom| [classroom.name, classroom.id] }, { prompt: 'Select Classroom' }, class: "form-control #{error?(@fee_structure.errors, :total_fee)}", value: f.object.classroom_id, required: true
      = print_error(@fee_structure.errors, :classroom_id)
  .col-12.d-flex.justify-content-between
    %button.btn.btn-primary{ type: 'submit', data: { confirm: 'Do you want to save the changes?' } }
      = t('issues.classrooms.table.save')
