= form_with model: [:school, classroom, session], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
  = f.hidden_field :date, class: "form-control #{error?(@session.errors, :date)}"
  .row
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.sessions.table.name')
      = f.text_field :name, class: "form-control #{error?(@session.errors, :name)}",
      value: f.object.name, placeholder: 'Name', required: true
      = print_error(@session.errors, :name)
  .row
    .col-md-6.mb-3
      %label.form-label{for: "flatpickr-date"} Select Date
      %input#flatpickr-date.form-control{placeholder: "YYYY-MM-DD HH:MM", type: "text", value: f.object.date.present? ? f.object.date.strftime("%Y-%m-%d %H:%M") : ''}/
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.sessions.table.classroom')
      = f.select :classroom_id, current_college.classrooms.all.map { |classroom| [classroom.name, classroom.id] }, {prompt: 'Select Classroom' }, class: "form-control #{error?(@session.errors, :classroom_id)}"
      = print_error(@session.errors, :classroom_id)

  .col-12.d-flex.justify-content-between
    %button.btn.btn-primary{ type: 'submit', data: { confirm: 'Do you want to save the changes?' } }
      = t('issues.sessions.table.save')

- content_for :js_code do 
  :javascript
    $(document).ready(function() {
      var flatpickrDate = $("#flatpickr-date");
      if (flatpickrDate.length) {
        flatpickrDate.flatpickr({
          enableTime: true, 
          dateFormat: "Y-m-d H:i",
          mode: "single",
          minDate: "today",
          onChange: function(selectedDates, dateStr, instance) {
            $('#session_date').val(dateStr);
          }
        });
      }
    });
