.d-flex.justify-content-between.align-items-center.mb-4
  %h4.fw-bold.py-0.m-0
    = t('issues.status.table.sessions')
  - if can_access?(:sessions, :new)
    %div
      %a.btn.btn-sm.btn-primary{ href: new_college_session_path(current_college.slug) }= t('issues.status.table.create')
.row
  .col-12
    .card
      - if @sessions.present?
        .table-responsive.text-nowrap.pb-0.border-bottom
          %table.table.table-striped
            %thead
              %tr
                %th.text-start= t('issues.status.table.name')
                %th.text-start= t('issues.status.table.classroom')
                %th.text-start= t('issues.status.table.date')
                %th.text-end= t('issues.status.table.actions')
            %tbody.table-border-bottom-0
              - @sessions.each do |session|
                %tr
                  %td.text-start
                    %strong.long-txt= session.name
                  %td= session.date
      - else
        .col-12
          .card
            .card-body
              %h4.text-center.mb-0.d-flex.align-items-center.justify-content-center
                %i.bx.bx-error-circle.pe-2.data-icon
                = t('issues.status.table.no_data_found')
