.d-flex.justify-content-between.align-items-center.mb-4
  %h4.fw-bold.py-0.m-0
    = t('issues.status.table.sessions')
  - if can_access?(:sessions, :new)
    %div
      = link_to t('issues.status.table.create'), new_college_session_path(current_college.slug), class: 'btn btn-sm btn-primary'

.row
  .col-12
    .card
      - if @sessions.present?
        .table-responsive.text-nowrap.pb-0.border-bottom
          %table.table.table-striped
            %thead
              %tr
                %th.text-start= t('issues.status.table.name')
                %th.text-start= t('issues.status.table.course')
                %th.text-start= t('issues.status.table.date')
                %th.text-start QR Code
                %th.text-end= t('issues.status.table.actions')
            %tbody.table-border-bottom-0
              - @sessions.each do |session|
                %tr
                  %td.text-start
                    %strong.long-txt= session.name
                  %td= session.course.name
                  %td= session.date.strftime('%b %d, %Y')
                  %td
                    = link_to 'Show QR', college_session_path(current_college.slug, session.slug)
                  %td
                    = link_to college_session_path(current_college.slug, session.slug), class: 'btn btn-primary btn-icon btn-sm me-1', data: { bs_toggle: 'tooltip', bs_placement: 'bottom', bs_original_title: 'Show' } do
                      %i.bx.bx-show
      - else
        .col-12
          .card
            .card-body
              %h4.text-center.mb-0.d-flex.align-items-center.justify-content-center
                %i.bx.bx-error-circle.pe-2.data-icon
                = t('issues.status.table.no_data_found')
