.row
  .col-md-12.grid-margin.stretch-card
    .card
      .card-body
        = form_with model: [:school, department], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
          .row
            %div{ class: "col-md-4 form-group #{ error?(department.errors, :name) }" }
              = f.label :name, class: 'col-form-label' do
                Name
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Department name' }
              = f.text_field :name, class: 'form-control', autocomplete: 'off', placeholder: 'Department name'
              = print_error(department.errors, :name)
          .row.mt-4
            .col-12
              = f.submit "Submit", class: "btn btn-primary btn-block"
