%aside.layout-menu.menu-vertical.menu.bg-menu-theme#layout-menu
  .app-brand.demo
    %a.app-brand-link{ href: authenticated_user_path }
      .admin-app-brand-logo.demo
        %img.h-25px.h-lg-35px{ alt: 'Logo', src: image_url('favicon.ico') }
    %a.layout-menu-toggle.menu-link.text-large.ms-auto.d-block.d-xl-none{ :href => 'javascript:void(0);' }
      %i.bx.bx-chevron-left.bx-sm.align-middle
  .menu-inner-shadow
  %ul.menu-inner.py-1
    - if can_access?(:dashboard, :index)
      %li.menu-item{ class: menu_active_class('dashboard') }
        %a.menu-link{ href: authenticated_user_path }
          %i.menu-icon.tf-icons.bx.bx-home-circle
          %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.dashboard')

    - if can_access?(:users, :index)
      - if current_user.principal?
        %li.menu-item{ class: menu_active_class('users') }
          %a.menu-link{ href: college_users_path(college_slug: current_college.slug) }
            %i.menu-icon.tf-icons.bx.bx-user
            %div{ 'data-i18n': 'Users' }= t('layouts.sidebar.teachers')
      - elsif current_user.teacher?
        %li.menu-item{ class: menu_active_class('users') }
          %a.menu-link{ href: college_users_path(college_slug: current_college.slug) }
            %i.menu-icon.tf-icons.bx.bx-user
            %div{ 'data-i18n': 'Users' }= t('layouts.sidebar.users')
      - else
        %li.menu-item{ class: menu_active_class('users') }
          %a.menu-link{ href: "#" }
            %i.menu-icon.tf-icons.bx.bx-user
            %div{ 'data-i18n': 'Users' }= t('layouts.sidebar.profile')
    - if can_access?(:subjects, :index)
      %li.menu-item{ class: menu_active_class('subjects') }
        %a.menu-link{ href: college_subjects_path(college_slug: current_college.slug) }
          %i.menu-icon.tf-icons.bx.bx-book
          %div{ 'data-i18n': 'Subjects' }= t('layouts.sidebar.subjects')

    -# - if can_access?(:marksheets, :index)
    -#   %li.menu-item{ class: menu_active_class('marksheets') }
    -#     %a.menu-link{ href: marksheets_path }
    -#       %i.menu-icon.tf-icons.bx.bx-file
    -#       %div{ 'data-i18n': 'Marksheets' }= t('layouts.sidebar.marksheets')


    -# - else
    -#   %li.menu-item{ class: menu_active_class('dashboard') }
    -#     %a.menu-link{ href: new_jira_site_path }
    -#       %i.menu-icon.tf-icons.bx.bx-home-circle
    -#       %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.dashboard')
    -# - if current_site.present?
    -#   %li.menu-item.menu-header.small.py-0.px-3{ class: sub_menu_active_class(%w[jira/projects jira/filters jira/boards]) }
    -#     %a.menu-link.menu-toggle.m-0{ href: '#' }
    -#       %i.menu-icon.tf-icons.bx.bx-layer
    -#       .small.menu-header-text= t('layouts.sidebar.modules')
    -#     %ul.menu-sub
    -#       %li.menu-item{ class: menu_active_class('jira/projects') }
    -#         %a.menu-link{ href: jira_site_projects_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.projects')
    -#       %li.menu-item{ class: menu_active_class('jira/filters') }
    -#         -# %a.menu-link{ href: jira_site_filters_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.filters')
    -#       %li.menu-item{ class: menu_active_class('jira/boards') }
    -#         %a.menu-link{ href: jira_site_boards_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.boards')
