%nav.sidebar.sidebar-offcanvas#sidebar
  %ul.nav
    %li.nav-item.nav-profile
      %a.nav-link{ href: '#' }
        .nav-profile-image
          %span.login-status.online
        .nav-profile-text.d-flex.flex-column
          %span.font-weight-bold.text-break
            = current_user.email
    - if can_access?(:dashboard, :index)
      %li.nav-item{ class: menu_active_class('dashboard') }
        %a.nav-link{ href: authenticated_user_path }
          %i.fa.fa-home.menu-icon
          %span.menu-title Dashboard
    - if current_user.profile_setup?
      - if can_access?(:users, :index)
        %li.nav-item{ class: menu_active_class('users') }
          %a.nav-link{ href: send("college_#{current_user.role}s_users_path", college_slug: current_college.slug) }
            %i.fa.fa-users.menu-icon
            %span.menu-title Users
      - if can_access?(:departments, :index)
        %li.nav-item{ class: menu_active_class('departments') }
          %a.nav-link{ href: send("college_#{current_user.role}s_departments_path", college_slug: current_college.slug) }
            %i.fa.fa-gear.menu-icon
            %span.menu-title Departments
      - if can_access?(:courses, :index)
        %li.nav-item{ class: menu_active_class('courses') }
          %a.nav-link{ href: send("college_#{current_user.role}s_courses_path", college_slug: current_college.slug) }
            %i.fa.fa-file.menu-icon
            %span.menu-title Courses
      - if can_access?(:sessions, :index)
        %li.nav-item{ class: menu_active_class('sessions') }
          %a.nav-link{ href: send("college_#{current_user.role}s_sessions_path", college_slug: current_college.slug) }
            %i.fa.fa-calendar.menu-icon
            %span.menu-title Sessions
      - if can_access?(:academic_years, :index)
        %li.nav-item{ class: menu_active_class('academic_years') }
          %a.nav-link{ href: send("college_#{current_user.role}s_academic_years_path", college_slug: current_college.slug) }
            %i.fa.fa-book.menu-icon
            %span.menu-title Academic Year
      - if can_access?(:fee_structures, :index)
        %li.nav-item{ class: menu_active_class('fee_structures') }
          %a.nav-link{ href: send("college_#{current_user.role}s_fee_structures_path", college_slug: current_college.slug) }
            %i.fa.fa-rss.menu-icon
            %span.menu-title Fee Structures
