%aside.layout-menu.menu-vertical.menu.bg-menu-theme#layout-menu
  .app-brand.demo
    %a.app-brand-link{ href: authenticated_user_path }
      .admin-app-brand-logo.demo
        %img.h-25px.h-lg-35px{ alt: 'Logo', src: image_url('favicon.ico') }
    %a.layout-menu-toggle.menu-link.text-large.ms-auto.d-block.d-xl-none{ :href => 'javascript:void(0);' }
      %i.bx.bx-chevron-left.bx-sm.align-middle
  .menu-inner-shadow
  %ul.menu-inner.py-1
    - if can_access?(:dashboard, :index)
      %li.menu-item{ class: menu_active_class('dashboard') }
        %a.menu-link{ href: authenticated_user_path }
          %i.menu-icon.tf-icons.bx.bx-home-circle
          %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.dashboard')

    - if can_access?(:users, :index)
      - if current_user.principal?
        %li.menu-item{ class: menu_active_class('users') }
          %a.menu-link{ href: college_users_path(college_slug: current_college.slug) }
            %i.menu-icon.tf-icons.bx.bx-user
            %div{ 'data-i18n': 'Users' }= t('layouts.sidebar.teachers')
      - elsif current_user.teacher?
        %li.menu-item{ class: menu_active_class('users') }
          %a.menu-link{ href: college_users_path(college_slug: current_college.slug) }
            %i.menu-icon.tf-icons.bx.bx-user
            %div{ 'data-i18n': 'Users' }= t('layouts.sidebar.users')
      - else
        %li.menu-item{ class: menu_active_class('users') }
          %a.menu-link{ href: "#" }
            %i.menu-icon.tf-icons.bx.bx-user
            %div{ 'data-i18n': 'Users' }= t('layouts.sidebar.profile')
      %li.menu-item.menu-header.small.py-0.px-3{ class: sub_menu_active_class(%w[users departments fee_types]) }
        %a.menu-link.menu-toggle.m-0{ href: '#' }
          %i.menu-icon.tf-icons.bx.bx-layer
          .small.menu-header-text= t('layouts.sidebar.head_of_college')
        %ul.menu-sub
          - if can_access?(:users, :index)
            - if current_user.principal?
              %li.menu-item{ class: menu_active_class('users') }
                %a.menu-link{ href: college_users_path(college_slug: current_college.slug) }
                  %i.menu-icon.tf-icons.bx.bx-user
                  %div{ 'data-i18n': 'Users' }= t('layouts.sidebar.teachers')
            - elsif current_user.teacher?
              %li.menu-item{ class: menu_active_class('users') }
                %a.menu-link{ href: college_users_path(college_slug: current_college.slug) }
                  %i.menu-icon.tf-icons.bx.bx-user
                  %div{ 'data-i18n': 'Users' }= t('layouts.sidebar.users')
          - if can_access?(:departments, :index)
            %li.menu-item{ class: menu_active_class('departments') }
              %a.menu-link{ href: college_departments_path(college_slug: current_college.slug) }
                %i.menu-icon.tf-icons.bx.bx-book
                %div{ 'data-i18n': 'Subjects' }= t('layouts.sidebar.departments')
          - if can_access?(:fee_types, :index)
            %li.menu-item{ class: menu_active_class('fee_types') }
              %a.menu-link{ href: college_fee_types_path(college_slug: current_college.slug) }
                %i.menu-icon.tf-icons.bx.bx-book
                %div{ 'data-i18n': 'Subjects' }= t('layouts.sidebar.fee_types')

    - if can_access?(:fee_structures, :index)
      %li.menu-item{ class: menu_active_class('fee_structures') }
        %a.menu-link{ href: college_fee_structures_path(college_slug: current_college.slug) }
          %i.menu-icon.tf-icons.bx.bx-book
          %div{ 'data-i18n': 'Feestructures' }= t('layouts.sidebar.Feestructures')

    -# - if can_access?(:marksheets, :index)
    -#   %li.menu-item{ class: menu_active_class('marksheets') }
    -#     %a.menu-link{ href: marksheets_path }
    -#       %i.menu-icon.tf-icons.bx.bx-file
    -#       %div{ 'data-i18n': 'Marksheets' }= t('layouts.sidebar.marksheets')


    -# - else
    -#   %li.menu-item{ class: menu_active_class('dashboard') }
    -#     %a.menu-link{ href: new_jira_site_path }
    -#       %i.menu-icon.tf-icons.bx.bx-home-circle
    -#       %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.dashboard')
    -# - if current_site.present?
    -#   %li.menu-item.menu-header.small.py-0.px-3{ class: sub_menu_active_class(%w[jira/projects jira/filters jira/boards]) }
    -#     %a.menu-link.menu-toggle.m-0{ href: '#' }
    -#       %i.menu-icon.tf-icons.bx.bx-layer
    -#       .small.menu-header-text= t('layouts.sidebar.modules')
    -#     %ul.menu-sub
    -#       %li.menu-item{ class: menu_active_class('jira/projects') }
    -#         %a.menu-link{ href: jira_site_projects_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.projects')
    -#       %li.menu-item{ class: menu_active_class('jira/filters') }
    -#         -# %a.menu-link{ href: jira_site_filters_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.filters')
    -#       %li.menu-item{ class: menu_active_class('jira/boards') }
    -#         %a.menu-link{ href: jira_site_boards_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.boards')


.main-content-container.overflow-hidden
  .row.justify-content-center
    .col-lg-8
      .card.bg-primary.border-0.rounded-3.welcome-box.mb-4
        .card-body.p-4
          .row.align-items-center
            .col-lg-8.col-md-8.col-sm-8
              .border-bottom
                %h3.text-white.fw-semibold.mb-1
                  Good Morning,
                  %span.text-danger-div Olivia!
                %p.text-light Here's what's happening with your store today.
              .d-flex.align-items-center.flex-wrap.gap-4.gap-xxl-5
                .d-flex.align-items-center.welcome-status-item
                  .flex-shrink-0
                    %i.material-symbols-outlined shopping_bag
                  .flex-grow-1.ms-3
                    %h5.text-white.fw-semibold.mb-0 86 New orders
                    %p.text-light Awaiting processing
                .d-flex.align-items-center.welcome-status-item
                  .flex-shrink-0
                    %i.material-symbols-outlined.icon-bg chat_error
                  .flex-grow-1.ms-3
                    %h5.text-white.fw-semibold.mb-0 35 Products
                    %p.text-light Out of stock
            .col-lg-4.col-md-4.col-sm-4
              .welcome-img.text-center.text-sm-end.mt-4.mt-sm-0
                = image_tag('welcome.png', alt: 'welcome')
      .card.bg-white.border-0.rounded-3.mb-4
        .card-body.p-4
          .d-flex.justify-content-between.align-items-center.flex-wrap.gap-3.mb-3.mb-lg-30
            %h3.mb-0 Total Sales
            %select.form-select.month-selecet.form-control{"aria-label" => "Default select example"}
              %option{selected: "selected"} Monthly
              %option{value: "1"} Weekly
              %option{value: "2"} Today
              %option{value: "3"} Yearly
          %div{style: "margin-bottom: -15px; margin-left: -10px; margin-top: -5px;"}
            #top_sales
    .col-lg-4
      .row.justify-content-center
        .col-md-4.col-lg-12
          .card.bg-white.border-0.rounded-3.mb-4.stats-box
            .card-body.p-4
              .d-flex.justify-content-between.flex-wrap.gap-2
                %div
                  .d-flex
                    %span Total Orders
                    %span.count -7.6%
                  %h3.fs-20.mt-1.mb-0 $72,458
                %span.fs-12 Last 7 days
              %div{style: "max-width: 153px; margin: auto; margin-top: -24px;  margin-bottom: -14px;"}
                #total_orders1
              %ul.ps-0.mb-0.list-unstyled.stats-list
                %li.d-flex.justify-content-between.align-items-center
                  %span.title Completed
                  %span 62%
                %li.d-flex.justify-content-between.align-items-center
                  %span.title Pending payment
                  %span 38%
        .col-md-4.col-lg-12
          .card.bg-white.border-0.rounded-3.mb-4.stats-box
            .card-body.p-4
              .d-flex.justify-content-between.flex-wrap.gap-2
                %div
                  .d-flex
                    %span Total Customers
                    %span.count.up +5.4
                  %h3.fs-20.mt-1.mb-0 1,528
                %span.fs-12 Last 7 days
              %div{style: "max-width: 290px; margin: auto; margin-top: -32px; margin-bottom: -19px;"}
                #total_customers
              .d-flex.justify-content-between.flex-wrap.gap-2
                %span.fs-12 1 June
                %span.fs-12 7 June
        .col-md-4.col-lg-12
          .card.bg-white.border-0.rounded-3.mb-4.stats-box
            .card-body.p-4
              .d-flex.justify-content-between.flex-wrap.gap-2
                %div
                  .d-flex
                    %span Total Revenue
                    %span.count.up +10%
                  %h3.fs-20.mt-1.mb-0 $165,458
                %span.fs-12 Last 30 days
              %div{style: "max-width: 196px; margin: auto; margin-top: -22px; margin-bottom: -13px;"}
                #total_evenue
              %ul.ps-0.mb-0.list-unstyled.stats-list
                %li.d-flex.justify-content-between.align-items-center
                  %span.title Fashion
                  %span 75%
                %li.d-flex.justify-content-between.align-items-center
                  %span.title Others
                  %span 25%
  .row.justify-content-center
    .col-lg-5
      .card.bg-white.border-0.rounded-3.mb-4
        .card-body.p-4
          .d-flex.justify-content-between.align-items-center.flex-wrap.gap-3.mb-3.mb-lg-4
            %h3.mb-0 Sales by Locations
            .dropdown.action-opt
              %button.btn.bg-transparent.p-0{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
                %i{"data-feather" => "more-horizontal"}
              %ul.dropdown-menu.dropdown-menu-end.bg-white.border.box-shadow
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "clock"}
                    Today
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "pie-chart"}
                    Last 7 Days
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "rotate-cw"}
                    Last Month
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "calendar"}
                    Last 1 Year
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "bar-chart"}
                    All Time
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "eye"}
                    View
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "trash"}
                    Delete
          .text-center.mb-4
            = image_tag('map.svg', alt: 'map')
          %ul.ps-0.mb-0.list-unstyled.sales_by_locations.mt-4
            %li.d-flex.align-items-center
              .flex-shrink-0
                = image_tag('usa.svg', alt: 'usa', class: 'wh-30 rounded-circle')
              .flex-grow-1.ms-3
                %span.fw-medium.d-block.mb-2 United States
                .progress{"aria-label" => "Example with label", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", role: "progressbar"}
                  .progress-bar{style: "width: 85%"}
                    %span.count.fw-medium.text-body 85%
            %li.d-flex.align-items-center
              .flex-shrink-0
                = image_tag('germany.svg', alt: 'germany', class: 'wh-30 rounded-circle')
              .flex-grow-1.ms-3
                %span.fw-medium.d-block.mb-2 Germany
                .progress{"aria-label" => "Example with label", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", role: "progressbar"}
                  .progress-bar{style: "width: 75%"}
                    %span.count.fw-medium.text-body 75%
            %li.d-flex.align-items-center
              .flex-shrink-0
                = image_tag('united-kingdom.svg', alt: 'united-kingdom', class: 'wh-30 rounded-circle')
              .flex-grow-1.ms-3
                %span.fw-medium.d-block.mb-2 United Kingdom
                .progress{"aria-label" => "Example with label", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar"}
                  .progress-bar{style: "width: 40%"}
                    %span.count.fw-medium.text-body 40%
            %li.d-flex.align-items-center
              .flex-shrink-0
                = image_tag('canada.svg', alt: 'canada', class: 'wh-30 rounded-circle')
              .flex-grow-1.ms-3
                %span.fw-medium.d-block.mb-2 Canada
                .progress{"aria-label" => "Example with label", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "10", role: "progressbar"}
                  .progress-bar{style: "width: 10%"}
                    %span.count.fw-medium.text-body 10%
            %li.d-flex.align-items-center
              .flex-shrink-0
                = image_tag('portugal.svg', alt: 'portugal', class: 'wh-30 rounded-circle')
              .flex-grow-1.ms-3
                %span.fw-medium.d-block.mb-2 Portugal
                .progress{"aria-label" => "Example with label", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "05", role: "progressbar"}
                  .progress-bar{style: "width: 05%"}
                    %span.count.fw-medium.text-body 05%
            %li.d-flex.align-items-center
              .flex-shrink-0
                = image_tag('spain.svg', alt: 'spain', class: 'wh-30 rounded-circle')
              .flex-grow-1.ms-3
                %span.fw-medium.d-block.mb-2 Spain
                .progress{"aria-label" => "Example with label", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "15", role: "progressbar"}
                  .progress-bar{style: "width: 15%"}
                    %span.count.fw-medium.text-body 15%
    .col-lg-7
      .card.bg-white.border-0.rounded-3.mb-4
        .card-body.p-4
          .d-flex.justify-content-between.align-items-center.flex-wrap.gap-3.mb-3.mb-lg-4
            %h3.mb-0 Top Selling Products
            %select.form-select.month-selecet.form-control{"aria-label" => "Default select example"}
              %option{selected: "selected"} Today
              %option{value: "1"} Weekly
              %option{value: "2"} Monthly
              %option{value: "3"} Yearly
          .default-table-area.top-selling-products
            .table-responsive
              %table.table.align-middle
                %thead
                  %tr
                    %th{scope: "col"} Product
                    %th{scope: "col"} Price
                    %th{scope: "col"} Order
                    %th{scope: "col"} Stock
                    %th{scope: "col"} Amount
                %tbody
                  %tr
                    %td
                      %a.d-flex.align-items-center{href: "product-details.html"}
                        = image_tag('product-1.jpg', alt: 'product-1', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Smart Band
                          %span.fs-12.text-body 20 Mar 2024
                    %td $35.00
                    %td 75
                    %td 750
                    %td $2,625
                  %tr
                    %td
                      %a.d-flex.align-items-center{href: "product-details.html"}
                        = image_tag('product-2.jpg', alt: 'product-2', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Headphone
                          %span.fs-12.text-body 12 Jan 2024
                    %td $49.00
                    %td 25
                    %td 825
                    %td $1,225
                  %tr
                    %td
                      %a.d-flex.align-items-center{href: "product-details.html"}
                        = image_tag('product-3.jpg', alt: 'product-3', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 iPhone 15 Plus
                          %span.fs-12.text-body 08 Jan 2024
                    %td $99.00
                    %td 55
                    %td.text-danger Stock Out
                    %td $5,445
                  %tr
                    %td
                      %a.d-flex.align-items-center{href: "product-details.html"}
                        = image_tag('product-4.jpg', alt: 'product-4', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Bluetooth Speaker
                          %span.fs-12.text-body 04 Jan 2024
                    %td $59.00
                    %td 40
                    %td 535
                    %td $2,360
                  %tr
                    %td
                      %a.d-flex.align-items-center{href: "product-details.html"}
                        = image_tag('product-5.jpg', alt: 'product-5', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Airbuds 2nd Gen
                          %span.fs-12.text-body 01 Jan 2024
                    %td $79.00
                    %td 56
                    %td 460
                    %td $4,424
            .d-flex.justify-content-center.justify-content-sm-between.align-items-center.text-center.flex-wrap.gap-2.showing-wrap
              %span.fs-12.fw-medium Showing 5 of 30 Results
              %nav{"aria-label" => "Page navigation example"}
                %ul.pagination.mb-0.justify-content-center
                  %li.page-item
                    %a.page-link.icon{"aria-label" => "Previous", href: "index.html"}
                      %i.material-symbols-outlined keyboard_arrow_left
                  %li.page-item
                    %a.page-link.active{href: "index.html"} 1
                  %li.page-item
                    %a.page-link{href: "index.html"} 2
                  %li.page-item
                    %a.page-link{href: "index.html"} 3
                  %li.page-item
                    %a.page-link{href: "index.html"} 4
                  %li.page-item
                    %a.page-link.icon{"aria-label" => "Next", href: "index.html"}
                      %i.material-symbols-outlined keyboard_arrow_right
  .row.justify-content-center
    .col-xl-7.col-xxl-8.col-lg-7
      .card.bg-white.border-0.rounded-3.mb-4
        .card-body.p-4
          .d-flex.justify-content-between.align-items-center.flex-wrap.gap-3.mb-3.mb-lg-4
            %h3.mb-0 Recent Orders
            .d-flex
              %form.position-relative.table-src-form
                %input.form-control{placeholder: "Search here", type: "text"}/
                %i.material-symbols-outlined.position-absolute.top-50.start-0.translate-middle-y search
              %select.form-select.month-selecet.form-control{"aria-label" => "Default select example"}
                %option{selected: "selected"} Show All
                %option{value: "1"} Weekly
                %option{value: "2"} Monthly
                %option{value: "3"} Yearly
          .default-table-area.recent-orders
            .table-responsive
              %table.table.align-middle
                %thead
                  %tr
                    %th{scope: "col"} Order ID
                    %th{scope: "col"} Customer
                    %th{scope: "col"} Created
                    %th{scope: "col"} Total
                    %th{scope: "col"} Status
                %tbody
                  %tr
                    %td #JAN-2345
                    %td
                      %a.d-flex.align-items-center{href: "my-profile.html"}
                        = image_tag('user-1.jpg', alt: 'user-1', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Sarah Johnson
                    %td 12 Jan, 2024
                    %td $10,490
                    %td
                      %span.badge.bg-success.bg-opacity-10.text-success.p-2.fs-12.fw-normal Shipped
                  %tr
                    %td #JAN-1323
                    %td
                      %a.d-flex.align-items-center{href: "my-profile.html"}
                        = image_tag('user-2.jpg', alt: 'user-2', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Michael Smith
                    %td 08 Jan, 2024
                    %td $6,575
                    %td
                      %span.badge.bg-info.bg-opacity-10.text-info.p-2.fs-12.fw-normal Confirmed
                  %tr
                    %td #DEC-1234
                    %td
                      %a.d-flex.align-items-center{href: "my-profile.html"}
                        = image_tag('user-3.jpg', alt: 'user-3', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Emily Brown
                    %td 13 Dec, 2023
                    %td $12,870
                    %td
                      %span.badge.bg-danger.bg-opacity-10.text-danger.p-2.fs-12.fw-normal Pending
                  %tr
                    %td #DEC-3567
                    %td
                      %a.d-flex.align-items-center{href: "my-profile.html"}
                        = image_tag('user-4.jpg', alt: 'user-4', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Jason Lee
                    %td 05 Dec, 2023
                    %td $7,895
                    %td
                      %span.badge.bg-success.bg-opacity-10.text-success.p-2.fs-12.fw-normal Shipped
                  %tr
                    %td #DEC-1098
                    %td
                      %a.d-flex.align-items-center{href: "my-profile.html"}
                        = image_tag('user-5.jpg', alt: 'user-5', class: 'wh-40 rounded-3')
                        .ms-2.ps-1
                          %h6.fw-medium.fs-14 Ashley Davis
                    %td 01 Dec, 2023
                    %td $4,680
                    %td
                      %span.badge.bg-danger.bg-opacity-10.text-danger.p-2.fs-12.fw-normal Rejected
            .d-flex.justify-content-center.justify-content-sm-between.align-items-center.text-center.flex-wrap.gap-2.showing-wrap
              %span.fs-12.fw-medium Showing 5 of 30 Results
              %nav{"aria-label" => "Page navigation example"}
                %ul.pagination.mb-0.justify-content-center
                  %li.page-item
                    %a.page-link.icon{"aria-label" => "Previous", href: "index.html"}
                      %i.material-symbols-outlined keyboard_arrow_left
                  %li.page-item
                    %a.page-link.active{href: "index.html"} 1
                  %li.page-item
                    %a.page-link{href: "index.html"} 2
                  %li.page-item
                    %a.page-link{href: "index.html"} 3
                  %li.page-item
                    %a.page-link{href: "index.html"} 4
                  %li.page-item
                    %a.page-link.icon{"aria-label" => "Next", href: "index.html"}
                      %i.material-symbols-outlined keyboard_arrow_right
    .col-xl-5.col-xxl-4.col-lg-5
      .card.bg-white.border-0.rounded-3.mb-4
        .card-body.p-4
          .d-flex.justify-content-between.align-items-center.flex-wrap.gap-3.mb-3.mb-lg-4
            %h3.mb-0 Order Summary
            %select.form-select.month-selecet.form-control{"aria-label" => "Default select example"}
              %option{selected: "selected"} Today
              %option{value: "1"} Weekly
              %option{value: "2"} Monthly
              %option{value: "3"} Yearly
          #order_summery.pt-4
          %ul.ps-0.mb-0.list-unstyled.sales_by_locations.style-two
            %li
              %span.fw-medium.d-block.mb-2 Completed Order
              .progress{"aria-label" => "Success example", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", role: "progressbar"}
                .progress-bar.bg-success{style: "width: 60%"}
                  %span.count.fw-medium.text-body 60%
            %li
              %span.fw-medium.d-block.mb-2 New Order
              .progress{"aria-label" => "Primary example", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "30", role: "progressbar"}
                .progress-bar.bg-primary{style: "width: 30%"}
                  %span.count.fw-medium.text-body 30%
            %li
              %span.fw-medium.d-block.mb-2 Pending Order
              .progress{"aria-label" => "Example with label", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "10", role: "progressbar"}
                .progress-bar.bg-primary-div{style: "width: 10%"}
                  %span.count.fw-medium.text-body 10%
  .row.justify-content-center
    .col-xl-5.col-xxl-4.col-lg-5
      .card.bg-white.border-0.rounded-3.mb-4
        .card-body.p-4
          .d-flex.justify-content-between.align-items-center.flex-wrap.gap-3.mb-3.mb-lg-4
            %h3.mb-0 Recent Transactions
            .dropdown.action-opt
              %button.btn.bg-transparent.p-0{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
                %i{"data-feather" => "more-horizontal"}
              %ul.dropdown-menu.dropdown-menu-end.bg-white.border.box-shadow
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "clock"}
                    Today
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "pie-chart"}
                    Last 7 Days
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "rotate-cw"}
                    Last Month
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "calendar"}
                    Last 1 Year
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "bar-chart"}
                    All Time
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "eye"}
                    View
                %li
                  %a.dropdown-item{href: "javascript:;"}
                    %i{"data-feather" => "trash"}
                    Delete
          %ul.ps-0.mb-0.list-unstyled
            %li.d-flex.align-items-center.justify-content-between.mb-3.pb-3
              .d-flex.align-items-center
                .flex-shrink-0
                  %i.material-symbols-outlined.icon-circle.bg-primary.bg-opacity-10.text-primary.text-center.rounded-circle.wh-40.lh-40 credit_card
                .flex-grow-1.ms-2
                  %h6.fw-medium.fs16.mb-0 Master Card
                  %span.fs-12 23 Dec 2023 - 3:20 pm
              %span.fs-14.fw-medium.text-success +1,520
            %li.d-flex.align-items-center.justify-content-between.mb-3.pb-3
              .d-flex.align-items-center
                .flex-shrink-0
                  %i.material-symbols-outlined.icon-circle.bg-danger.bg-opacity-10.text-danger.text-center.rounded-circle.wh-40.lh-40 redeem
                .flex-grow-1.ms-2
                  %h6.fw-medium.fs16.mb-0 Paypal
                  %span.fs-12 23 Dec 2023 - 3:20 pm
              %span.fs-14.fw-medium.text-danger -2,250
            %li.d-flex.align-items-center.justify-content-between.mb-3.pb-3
              .d-flex.align-items-center
                .flex-shrink-0
                  %i.material-symbols-outlined.icon-circle.bg-primary-div.bg-opacity-10.text-primary-div.text-center.rounded-circle.wh-40.lh-40 account_balance
                .flex-grow-1.ms-2
                  %h6.fw-medium.fs16.mb-0 Wise
                  %span.fs-12 23 Dec 2023 - 3:20 pm
              %span.fs-14.fw-medium.text-success +3,560
            %li.d-flex.align-items-center.justify-content-between.mb-3.pb-3
              .d-flex.align-items-center
                .flex-shrink-0
                  %i.material-symbols-outlined.icon-circle.bg-info.bg-opacity-10.text-info.text-center.rounded-circle.wh-40.lh-40 currency_ruble
                .flex-grow-1.ms-2
                  %h6.fw-medium.fs16.mb-0 Payoneer
                  %span.fs-12 23 Dec 2023 - 3:20 pm
              %span.fs-14.fw-medium.text-success +6,500
            %li.d-flex.align-items-center.justify-content-between
              .d-flex.align-items-center
                .flex-shrink-0
                  %i.material-symbols-outlined.icon-circle.bg-primary.bg-opacity-10.text-primary.text-center.rounded-circle.wh-40.lh-40 credit_score
                .flex-grow-1.ms-2
                  %h6.fw-medium.fs16.mb-0 Credit Card
                  %span.fs-12 23 Dec 2023 - 3:20 pm
              %span.fs-14.fw-medium.text-danger +4,320
    .col-xl-7.col-xxl-8.col-lg-7
      .card.bg-white.border-0.rounded-3.mb-4
        .card-body.p-4
          .d-flex.justify-content-between.align-items-center.flex-wrap.gap-3.mb-3.mb-lg-4
            %h3.mb-0 Returning Customer Rate
            %select.form-select.month-selecet.form-control{"aria-label" => "Default select example"}
              %option{selected: "selected"} Month
              %option{value: "1"} Weekly
              %option{value: "2"} Monthly
              %option{value: "3"} Yearly
          #returning_customer_rate
