.row
  .col-md-12.grid-margin.stretch-card
    .card
      .card-body
        = form_with model: [:school, course], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
          .row
            %div{ class: "col-md-10 form-group #{ error?(course.errors, :department_id) }" }
              = f.label :department_id, class: 'col-form-label' do
                Department
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select Department' }
              = f.select :department_id, options_from_collection_for_select(current_college.departments, :id, :name, f.object.department_id), {include_blank: 'Select Department'}, class: 'form-control select2-field', required: true
              = print_error(course.errors, :academic_year_id)
          .row
            %div{ class: "col-md-5 form-group #{ error?(course.errors, :name) }" }
              = f.label :name, class: 'col-form-label' do
                Name
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Name' }
              = f.text_field :name, class: 'form-control', autocomplete: 'off', placeholder: 'Course name'
              = print_error(course.errors, :name)
            %div{ class: "col-md-5 form-group #{ error?(course.errors, :credits) }" }
              = f.label :credits, class: 'col-form-label' do
                Credits
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Credits' }
              = f.number_field :credits, class: 'form-control', autocomplete: 'off', placeholder: 'Number of Credits'
              = print_error(course.errors, :credits)
          .row
            .col-12
              .nested_forms#course-semesters
                = f.fields_for :course_semesters do |information|
                  = render 'course_semester_fields', f: information
                .links.mt-2
                  = link_to_add_association raw("<i class='fa fa-plus'></i> Add More Information"), f, :course_semesters, class: 'btn btn-sm btn-info', data: {toggle: 'tooltip', placement: 'left'}, title: 'Add Academic Year and Semester'

          .row.mt-4
            .col-12
              = f.submit "Submit", class: "btn btn-primary btn-block"
