= form_with model: [:school, course], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
  .row
    .col-md-12.mb-3
      %label.form-label.required
        Select Department
      = f.select :department_id, current_college.departments.map { |department| [department.name, department.id] }, { prompt: 'Select Department' }, include_blank: 'All', class: 'form-select'
  .row
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.courses.table.name')
      = f.text_field :name, class: "form-control #{error?(@course.errors, :name)}", value: f.object.name, placeholder: 'Name', required: true
      = print_error(@course.errors, :name)
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.courses.table.credits')
      = f.number_field :credits, class: "form-control #{error?(@course.errors, :credits)}", value: f.object.credits, placeholder: 'Credits', required: true
  .col-12.d-flex.justify-content-between
    %button.btn.btn-primary{ type: 'submit', data: { confirm: 'Do you want to save the changes?' } }
      = t('issues.classrooms.table.save')
