.row
  .col-md-12.grid-margin.stretch-card
    .card
      .card-body
        = form_with model: [:school, course], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
          .row
            %div{ class: "col-md-4 form-group #{ error?(course.errors, :semester_id) }" }
              = f.label :semester_id, class: 'col-form-label' do
                Semester
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select Semester' }
              = f.select :semester_id, options_from_collection_for_select(current_college.semesters, :id, :name, f.object.semester_id), {include_blank: 'Select Semester'}, class: 'form-control select2-field', required: true
              = print_error(course.errors, :semester_id)
            %div{ class: "col-md-4 form-group #{ error?(course.errors, :name) }" }
              = f.label :name, class: 'col-form-label' do
                Name
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Name' }
              = f.text_field :name, class: 'form-control', autocomplete: 'off', placeholder: 'Course name'
              = print_error(course.errors, :name)
            %div{ class: "col-md-4 form-group #{ error?(course.errors, :credits) }" }
              = f.label :credits, class: 'col-form-label' do
                Credits
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Credits' }
              = f.number_field :credits, class: 'form-control', autocomplete: 'off', placeholder: 'Number of Credits'
              = print_error(course.errors, :credits)

          .row.mt-4
            .col-12
              = f.submit "Submit", class: "btn btn-primary btn-block"
