= form_with model: [:school, user], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
  .row
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.users.table.name')
      = f.text_field :name, class: "form-control #{error?(@user.errors, :name)}", value: f.object.name, placeholder: 'Name', required: true
      = print_error(@user.errors, :name)
    .col-md-6.mb-3
      %label.form-label= t('issues.users.table.email')
      = f.email_field :email, class: "form-control #{error?(@user.errors, :email)}", value:  f.object.email, placeholder: 'Email'
      = print_error(@user.errors, :email)
  .row
    .col-md-12.mb-3
      %label.form-label.required
        = t('issues.users.table.role') # Label for Role
      = f.select :role, User.roles.keys.map { |role| [t("roles.#{role}"), role] }, {}, class: "form-control #{error?(@user.errors, :role)}"
      = print_error(@user.errors, :role)
  - if action_name != 'edit' && action_name != 'profile_setup'
    .row
      .col-md-6.mb-3
        %label.form-label.required
          = t('issues.users.table.password')
        = f.password_field :password, class: "form-control #{error?(@user.errors, :password)}", value: f.object.password, placeholder: 'Password', required: true
        = print_error(@user.errors, :name)
      .col-md-6.mb-3
        %label.form-label= t('issues.users.table.password_confirmation')
        = f.password_field :password_confirmation, class: "form-control #{error?(@user.errors, :password_confirmation)}", value:  f.object.password_confirmation, placeholder: 'Password Confirmation'
        = print_error(@user.errors, :password_confirmation)
          .col-12.d-flex.justify-content-between
    %button.btn.btn-primary{ type: 'submit', data: { confirm: 'Do you want to save the changes?' } }
      = t('issues.users.table.save')
