.d-flex.justify-content-between.align-items-center.mb-4
  %h4.fw-bold.py-0.m-0
    = t('issues.status.table.teachers')
  %div
    - if can_access?(:users, :new)
      %a.btn.btn-sm.btn-primary{ href: new_college_user_path }= t('issues.status.table.create')
.row
  .col-md-12
    .card.mb-4
      .card-body
        = form_tag users_path, method: :get do |f|
          .main-div.d-flex.justify-content-between.align-items-center
            .sub-div
              = text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control form-field'
            .sub-div
              = select_tag :subject_id, options_for_select(@subject_id, params[:subject_id] ), prompt: t('all'), class: 'form-select'
            .sub-div
              = select_tag :classroom_id, options_for_select(@classroom_id, params[:classroom_id] ), prompt: t('all'), class: 'form-select'
            .sub-div.d-flex.align-items-center.justify-content-end
              %button.btn.btn-primary.btn-icon.btn-sm.me-1{ type: 'submit', 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Next</span>', 'data-bs-placement': 'bottom', 'data-bs-toggle': 'tooltip', title: '' }
                %i.bx.bx-search
              %a.btn.btn-warning.btn-icon.btn-sm.me-1{ href: users_path, type: 'submit', 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Clear</span>', 'data-bs-placement': 'bottom', 'data-bs-toggle': 'tooltip', title: '' }
                %i.bx.bx-refresh
.row
  .col-12
    .card
      - if @users.present?
        .table-responsive.text-nowrap.pb-0.border-bottom
          %table.table.table-striped
            %thead
              %tr
                %th.text-start= t('issues.status.table.name')
                %th= t('issues.status.table.category')
                %th= t('issues.status.table.type')
                %th.text-end= t('issues.status.table.actions')
            %tbody.table-border-bottom-0
              - @users.each do |user|
                %tr
                  %td.text-start
                    %strong.long-txt= user.name
                  %td.long-txt= user.role
                  %td.long-txt= user.email
                  %td
                    .text-end.d-flex.align-items-center.justify-content-end
                      - if can_access?(:users, :edit)
                        %a.btn.btn-warning.btn-icon.btn-sm.me-1{
                        href: edit_college_user_path(current_college.slug, user.slug), 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Edit</span>', 'data-bs-placement': 'bottom', 'data-bs-toggle': 'tooltip', title: '', type: 'button' }
                          %i.bx.bx-pencil
                      - if can_access?(:users, :destroy)
                        = link_to college_user_path(current_college.slug, user.slug),
                        { class: 'btn btn-danger btn-icon btn-sm me-1', 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Delete</span>', 'data-bs-placement': 'bottom', 'data-confirm': "You won't be able to revert this!",
                        'data-bs-toggle': 'tooltip', title: '', type: 'button', method: :delete } do
                          %i.bx.bx-trash
                      - if can_access?(:users, :show)
                        = link_to college_user_path(current_college.slug, user.slug), { class: 'btn btn-primary btn-icon btn-sm me-1', 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Show</span>', 'data-bs-placement': 'bottom', 'data-bs-toggle': 'tooltip', title: '', type: 'button' } do
                          %i.bx.bx-show
      - else
        .col-12
          .card
            .card-body
              %h4.text-center.mb-0.d-flex.align-items-center.justify-content-center
                %i.bx.bx-error-circle.pe-2.data-icon
                = t('issues.status.table.no_data_found')
