.main-content-container.overflow-hidden
  .d-flex.justify-content-between.align-items-center.flex-wrap.gap-2.mb-4
    %h3.mb-0= 'Users'
    = form_with(url: import_users_college_principals_users_path(current_college.slug), method: :post, local: true, html: { multipart: true, class: 'd-flex align-items-center gap-2' }) do |f|
      = f.file_field :csv_file, class: 'form-control', id: 'file-upload', accept: '.csv'
      = f.submit 'Upload', class: 'btn btn-primary btn-sm'
  .card.bg-white.border-0.rounded-3.mb-4
    .card-body.p-0
      .d-flex.justify-content-between.align-items-center.flex-wrap.gap-2.p-4
        %form.position-relative.table-src-form.me-0
          %input.form-control{ placeholder: "Search here", type: "text" }/
          %i.material-symbols-outlined.position-absolute.top-50.start-0.translate-middle-y search
        - if can_access?(:users, :new)
          %a.btn.btn-outline-primary.py-1.px-2.px-sm-4.fs-14.fw-medium.rounded-3.hover-bg{ href: new_college_principals_user_path }
            %span.py-sm-1.d-block= t('issues.status.table.create')
      .default-table-area.style-two.default-table-width
        .table-responsive
          - if @users.present?
            %table.table.align-middle
              %thead
                %tr
                  %th{ scope: "col" }= t('issues.status.table.name')
                  %th{ scope: "col" }= t('issues.status.table.category')
                  %th{ scope: "col" }= t('issues.status.table.type')
                  %th{ scope: "col" }= t('issues.status.table.actions')
              %tbody
                - @users.each do |user|
                  %tr
                    %td.text-body= user.name
                    %td.text-body= user.role
                    %td.text-body= user.email
                    %td.text-end
                      .d-flex.align-items-center.gap-1
                        %button.ps-0.border-0.bg-transparent.lh-1.position-relative.top-2
                          %i.material-symbols-outlined.fs-16.text-primary visibility
                        - if can_access?(:users, :edit)
                          %a.ps-0.border-0.bg-transparent.lh-1.position-relative.top-2{
                          href: edit_college_principals_user_path(current_college.slug, user.slug), 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Edit</span>', 'data-bs-placement': 'bottom', 'data-bs-toggle': 'tooltip', title: '', type: 'button' }
                            %i.material-symbols-outlined.fs-16.text-body edit
                        - if can_access?(:users, :destroy)
                          = link_to college_principals_user_path(current_college.slug, user.slug),
                            class: 'ps-0 border-0 bg-transparent lh-1 position-relative top-2',
                            data: { method: :delete, confirm: "You won't be able to revert this!",
                              bs: { html: 'true',  offset: '0,4', original_title: '<span>Delete</span>', placement: 'bottom', toggle: 'tooltip' } } do
                            %i.material-symbols-outlined.fs-16.text-danger delete
