.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-users
        Teacher
        %small
          %i.fa.fa-arrow-right
          Setup
  = form_with model: @teacher, url: college_setup_path(params[:college_slug]), local: true, html: { multipart: true }, method: :post, class: 'form' do |f|
    .row
      %div{ class: "col-md-6 form-group #{ error?(@teacher.errors, :department_id) }" }
        = f.label :department_id, class: 'col-form-label' do
          Department
          %span
            %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select Role' }
        = f.select :department_id, Department.all.collect { |d| [d.name, d.id] }, { prompt: 'Select a department' }, {class: 'form-control select2-field', required: true, id: 'department-select'}
        = print_error(@teacher.errors, :department_id)
      %div{ class: "col-md-6 form-group #{ error?(@teacher.errors, :course_id) }" }
        = f.label :course_id, class: 'col-form-label' do
          Department
          %span
            %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select Role' }
        = f.select :course_id, [], {include_blank: 'Select a course'}, class: 'form-control select2-field', required: true, id: 'course-select'
        = print_error(@teacher.errors, :course_id)
    .row.mt-4
      .col-12
        = f.submit "Submit", class: "btn btn-primary btn-block"

- content_for :js_code do
  :javascript
    $(document).ready(function () {
      var collegeSlug = "#{params[:college_slug]}"
      $('#department-select').on('change', function () {
        var deptId = $(this).val();

        if (deptId) {
          $.ajax({
            url: '/colleges/' + collegeSlug + '/setup/department_courses/' + deptId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
              $('#course-select').empty();
              $('#course-select').append('<option value="">Select a course</option>');

              $.each(data, function (index, course) {
                $('#course-select').append('<option value="' + course.id + '">' + course.name + '</option>');
              });
            }
          });
        } else {
          $('#course-select').empty().append('<option value="">Select a course</option>');
        }
      });
    });
