.d-flex.justify-content-between.align-items-center.mb-4
  %h4.fw-bold.py-0.m-0
    = t('issues.status.table.departments')
  - if can_access?(:departments, :new)
    %div
      %a.btn.btn-sm.btn-primary{ href: new_college_department_path(current_college.slug) }= t('issues.status.table.create')
.row
  .col-12
    .card
      - if @departments.present?
        .table-responsive.text-nowrap.pb-0.border-bottom
          %table.table.table-striped
            %thead
              %tr
                %th.text-start= t('issues.status.table.name')
                - if can_access?(:departments, :edit)
                  %th.text-end= t('issues.status.table.actions')
            %tbody.table-border-bottom-0
              - @departments.each do |department|
                %tr
                  %td.text-start
                    %strong.long-txt= department.name
                  - if can_access?(:departments, :edit)
                    %td
                      .text-end.d-flex.align-items-center.justify-content-end
                        %a.btn.btn-warning.btn-icon.btn-sm.me-1{
                        href: edit_college_department_path(current_college.slug, department.slug), 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Edit</span>', 'data-bs-placement': 'bottom', 'data-bs-toggle': 'tooltip', title: '', type: 'button' }
                          %i.bx.bx-pencil
                        = link_to college_department_path(current_college.slug, department.slug),
                        { class: 'btn btn-danger btn-icon btn-sm me-1', 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Delete</span>', 'data-bs-placement': 'bottom', 'data-confirm': "You won't be able to revert this!",
                        'data-bs-toggle': 'tooltip', title: '', type: 'button', method: :delete } do
                          %i.bx.bx-trash
      - else
        .col-12
          .card
            .card-body
              %h4.text-center.mb-0.d-flex.align-items-center.justify-content-center
                %i.bx.bx-error-circle.pe-2.data-icon
                = t('issues.status.table.no_data_found')
