.row
  .col-md-12.grid-margin.stretch-card
    .card
      .card-body
        = form_with model: [:school, fee_component], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
          .row
            %div{ class: "col-md-4 form-group #{ error?(fee_component.errors, :fee_structure_id) }" }
              = f.label :fee_structure_id, class: 'col-form-label' do
                Fee Structure
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select Fee Structure' }
              = f.select :fee_structure_id, options_from_collection_for_select(current_college.fee_structures, :id, :name, f.object.fee_structure_id), {include_blank: 'Select Fee Structure'}, class: 'form-control select2-field', required: true
              = print_error(fee_component.errors, :fee_structure_id)
            %div{ class: "col-md-4 form-group #{ error?(fee_component.errors, :semester_id) }" }
              = f.label :semester_id, class: 'col-form-label' do
                Semester
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select Fee Structure' }
              = f.select :semester_id, options_from_collection_for_select(current_college.semesters, :id, :name, f.object.semester_id), {include_blank: 'Select Semester'}, class: 'form-control select2-field', required: true
              = print_error(fee_component.errors, :semester_id)
            %div{ class: "col-md-4 form-group #{ error?(fee_component.errors, :amount) }" }
              = f.label :amount, class: 'col-form-label' do
                Amount
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Amount' }
              = f.number_field :amount, class: 'form-control', autocomplete: 'off', placeholder: 'Amount'
              = print_error(fee_component.errors, :amount)
          .row
            %div{ class: "col-md-6 form-group #{ error?(fee_component.errors, :name) }" }
              = f.label :name, class: 'col-form-label' do
                Name
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Name' }
              = f.text_field :name, class: 'form-control', autocomplete: 'off', placeholder: 'Fee Component name'
              = print_error(fee_component.errors, :name)
            %div{ class: "col-md-6 form-group #{ error?(fee_component.errors, :description) }" }
              = f.label :description, class: 'col-form-label' do
                Description
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Description' }
              = f.text_field :description, class: 'form-control', autocomplete: 'off', placeholder: 'Description'
              = print_error(fee_component.errors, :description)
          .row.mt-4
            .col-12
              = f.submit "Submit", class: "btn btn-primary btn-block"
