.row
  .col-md-12.grid-margin.stretch-card
    .card
      .card-body
        = form_with model: admission, url: url, local: true, html: { multipart: true }, class: 'form' do |f|
          .row
            .col-md-4.form-group{ class: error?(admission.errors, :name) }
              = f.label :name, class: 'col-form-label' do
                Name
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Full name of applicant' }
              = f.text_field :name, class: 'form-control', autocomplete: 'off', placeholder: 'Applicant name'
              = print_error(admission.errors, :name)

            .col-md-4.form-group{ class: error?(admission.errors, :email) }
              = f.label :email, class: 'col-form-label' do
                Email
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Applicant email address' }
              = f.email_field :email, class: 'form-control', autocomplete: 'off', placeholder: 'Email'
              = print_error(admission.errors, :email)

            .col-md-4.form-group{ class: error?(admission.errors, :phone) }
              = f.label :phone, class: 'col-form-label' do
                Phone
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Applicant phone number' }
              = f.telephone_field :phone, class: 'form-control', autocomplete: 'off', placeholder: 'Phone number'
              = print_error(admission.errors, :phone)

          .row
            .col-md-4.form-group{ class: error?(admission.errors, :college_id) }
              = f.label :college_id, class: 'col-form-label' do
                College
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select College' }
              = f.collection_select :college_id, College.all, :id, :name, { prompt: 'Select College' }, class: 'form-control select2-field', required: true
              = print_error(admission.errors, :college_id)

            .col-md-4.form-group{ class: error?(admission.errors, :department_id) }
              = f.label :department_id, class: 'col-form-label' do
                Department
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select Department' }
              = f.select :department_id, [], { prompt: 'Select Department' }, class: 'form-control select2-field', required: true
              = print_error(admission.errors, :department_id)

            .col-md-4.form-group{ class: error?(admission.errors, :course_id) }
              = f.label :course_id, class: 'col-form-label' do
                Course
                %span
                  %i.fa.fa-question-circle-o{ 'data-toggle': 'tooltip', title: 'Select Course' }
              = f.select :course_id, [], { prompt: 'Select Course' }, class: 'form-control select2-field', required: true
              = print_error(admission.errors, :course_id)

          .row.mt-4
            .col-12
              = f.submit 'Submit', class: 'btn btn-primary btn-block'
- content_for :js_code do
  :javascript
    $(document).ready(function () {
      $('#admission_college_id').on('change', function () {
        var collegeId = $(this).val();
        if (!collegeId) {
          $('#admission_department_id').html('<option value="">Select Department</option>');
          $('#admission_course_id').html('<option value="">Select Course</option>');
          return;
        }

        $.ajax({
          url: '/public_admissions/departments?college_id=' + collegeId,
          method: 'GET',
          success: function (data) {
            var options = '<option value="">Select Department</option>';
            $.each(data, function (index, dept) {
              options += '<option value="' + dept.id + '">' + dept.name + '</option>';
            });
            $('#admission_department_id').html(options).trigger('change');
          }
        });
      });

      $('#admission_department_id').on('change', function () {
        var deptId = $(this).val();
        if (!deptId) {
          $('#admission_course_id').html('<option value="">Select Course</option>');
          return;
        }

        $.ajax({
          url: '/public_admissions/courses?department_id=' + deptId,
          method: 'GET',
          success: function (data) {
            var options = '<option value="">Select Course</option>';
            $.each(data, function (index, course) {
              options += '<option value="' + course.id + '">' + course.name + '</option>';
            });
            $('#admission_course_id').html(options);
          }
        });
      });
    });
