.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-file
        Admission Application Summary
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{ href: public_admissions_path, data: { toggle: 'tooltip', placement: 'left' }, title: 'Public Admission' }
        %i.fa.fa-reply
  .row
    .col-12.grid-margin
      .card
        .card-body
          %h4.card-title Applicant Details
          %p
            Application Number:
            %strong= @admission.application_number
          %p
            Status:
            %strong= @admission.status.humanize
          %hr/
          %h4 Upload Documents
          = form_with url: validate_token_public_admission_path(@admission.slug), method: :post, local: true, class: 'form-inline mb-3' do
            .form-group.mr-2
              = label_tag :application_number, 'Application Number'
              = text_field_tag :application_number, params[:application_number], class: 'form-control', required: true
            .form-group.mr-2
              = label_tag :temporary_token, 'Temporary Token'
              = text_field_tag :temporary_token, params[:temporary_token], class: 'form-control', required: true
            = submit_tag 'Validate', class: 'btn btn-info'

          - if @validate_attempt
            - if @token_matched
              .alert.alert-success.mt-3 Validation successful. You can now upload your documents.

              .row
                - @document_types.each do |doc_type|
                  .col-md-6
                    - uploaded_doc = @admission.admission_documents.find_by(document_type_id: doc_type.id)

                    %div{ id: "document-section-#{doc_type.id}" }
                      - if uploaded_doc
                        .card.mb-3.p-3
                          %h5= doc_type.name
                          %p.text-success.mb-1
                            - if uploaded_doc.file.content_type.start_with?('image/')
                              = image_tag uploaded_doc.file.variant( resize_to_limit: [300, 300] ), class: 'img-thumbnail mt-2'
                            - else
                              = link_to uploaded_doc.file.filename.to_s, url_for(uploaded_doc.file), target: '_blank'
                          = button_to 'Remove', remove_document_public_admission_path(@admission.slug, document_type_id: doc_type.id),
                            method: :delete, class: 'btn btn-sm btn-danger mt-2'

                      - else
                        .card.mb-3.p-3
                          %h5= doc_type.name
                          = form_with model: AdmissionDocument.new, url: upload_document_public_admission_path(@admission.slug), local: true, html: { multipart: true } do |f|
                            = hidden_field_tag :document_type_id, doc_type.id
                            .form-group
                              = f.label :file, "Upload #{doc_type.name}"
                              = f.file_field :file, required: true, class: 'form-control'
                            = f.submit 'Upload', class: 'btn btn-sm btn-primary mt-2'

            - else
              .alert.alert-danger.mt-3 Invalid application number or token.
