= form_with model: [:school, subject], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
  .row
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.subjects.table.name')
      = f.text_field :name, class: "form-control #{error?(@subject.errors, :name)}",
      value: f.object.name, placeholder: 'Name', required: true
      = print_error(@subject.errors, :name)
  .row
    .col-md-12.mb-3
      %label.form-label.required
        = t('issues.subjects.table.subject')
      = f.text_area :description, class: 'form-control', data: { id: 'dynamic-textarea' },
      value: f.object.description, placeholder: 'Description'
      = print_error(@subject.errors, :description)
  .col-12.d-flex.justify-content-between
    %button.btn.btn-primary{ type: 'submit', data: { confirm: 'Do you want to save the changes?' } }
      = t('issues.subjects.table.save')
