.card
  .card-body
    .app-brand.justify-content-center
      %a.app-brand-link.gap-2{ href: "index.html" }
        .app-brand-logo.demo
          %img.h-25px.h-lg-35px{ alt: "Logo", src: image_url('media/logos/default-dark.svg') }
    %h4.mb-2= t('devise.forget_password.new_password')
    %p.mb-4= t('devise.forget_password.enter_your_new_password')
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'mb-3' }) do |f|
      = render "users/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      .mb-3
        %label.form-label{ for: "email" }= t('devise.forget_password.enter_password')
        = f.password_field :password, autocomplete: 'new-password', class: 'form-control', required: true, placeholder: 'New password'
      .mb-3
        %label.form-label{ for: "email" }= t('devise.forget_password.confirm_password')
        = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', required: true, placeholder: 'Confirm password'
      %button.btn.btn-primary.d-grid.w-100 Save
    .text-center
      %a.d-flex.align-items-center.justify-content-center{ href: new_user_session_path }
        %i.bx.bx-chevron-left.scaleX-n1-rtl.bx-sm
        Back to login
