.card
  .card-body
    .app-brand.justify-content-center
      %a.app-brand-link.gap-2{ href: "index.html" }
        .app-brand-logo.demo
          %img.h-25px.h-lg-35px{ alt: "Logo", src: image_url('media/logos/default-dark.svg') }
    %h4.mb-2= t('devise.forget_password.password')
    %p.mb-4= t('devise.forget_password.email_instructions')
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'mb-3' }) do |f|
      .mb-3
        %label.form-label{ for: "email" }= t('devise.forget_password.email')
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true, placeholder: 'Enter your email'
        = print_error(resource.errors, :email)
      %button.btn.btn-primary.d-grid.w-100= t('devise.forget_password.send_reset_link')
    .text-center
      %a.d-flex.align-items-center.justify-content-center{ href: new_user_session_path }
        %i.bx.bx-chevron-left.scaleX-n1-rtl.bx-sm
        = t('devise.forget_password.back_to_login')
