#sidebar-area.sidebar-area
  .logo.position-relative
    %a.d-block.text-decoration-none.position-relative{href: "/"}
      = image_tag('logo-icon.png', alt: 'logo-icon')
      %span.logo-text.fw-bold.text-dark Trezo
    %button#sidebar-burger-menu.sidebar-burger-menu.bg-transparent.p-0.border-0.opacity-0.z-n1.position-absolute.top-50.end-0.translate-middle-y
      %i{"data-feather" => "x"}
  %aside#layout-menu.layout-menu.menu-vertical.menu.active
    %ul.menu-inner
      - if can_access?(:dashboard, :index)
        %li.menu-item{ class: menu_active_class('dashboard') }
          %a.menu-link{ href: authenticated_user_path }
            %span.material-symbols-outlined.menu-icon dashboard
            %span.title Dashboard
      - if current_user.profile_setup?
        - if can_access?(:users, :index)
          %li.menu-item{ class: menu_active_class('users') }
            %a.menu-link{ href: send("college_#{current_user.role}s_users_path", college_slug: current_college.slug) }
              %span.material-symbols-outlined.menu-icon person
              %span.title Users
        - if can_access?(:departments, :index)
          %li.menu-item{ class: menu_active_class('departments') }
            %a.menu-link{ href: send("college_#{current_user.role}s_departments_path", college_slug: current_college.slug) }
              %span.material-symbols-outlined.menu-icon settings
              %span.title Departments
        - if can_access?(:courses, :index)
          %li.menu-item{ class: menu_active_class('courses') }
            %a.menu-link{ href: send("college_#{current_user.role}s_courses_path", college_slug: current_college.slug) }
              %span.material-symbols-outlined.menu-icon school
              %span.title Courses
        - if can_access?(:sessions, :index)
          %li.menu-item{ class: menu_active_class('sessions') }
            %a.menu-link{ href: send("college_#{current_user.role}s_sessions_path", college_slug: current_college.slug) }
              %span.material-symbols-outlined.menu-icon schedule
              %span.title Sessions
        - if can_access?(:csv_files, :index)
          %li.menu-item{ class: menu_active_class('csv_files') }
            %a.menu-link{ href: send("college_#{current_user.role}s_csv_files_path", college_slug: current_college.slug) }
              %span.material-symbols-outlined.menu-icon schedule
              %span.title Csv Files
