.d-flex.justify-content-between.align-items-center.mb-4
  .col-12.mb-4
    .bs-stepper.wizard-numbered.mt-2
      .bs-stepper-header.overflow-auto
        .step{ 'data-target' => '#account-details', class: ('active' if params[:issue_security_scheme_slug].present? && !params[:slug].present? && !params[:issue_security_level_slug].present?) }
          %button.step-trigger{ 'aria-selected' => params[:issue_security_scheme_slug].present? && !params[:slug].present? && !params[:issue_security_level_slug].present?,
          'type' => 'button', 'disabled' => ('disabled' unless params[:issue_security_scheme_slug].present? && !params[:slug].present? && !params[:issue_security_level_slug].present?) }
            %span.bs-stepper-circle 1
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.issue_security_schemes.table.create_issue_security_scheme')
        .line
          %i.bx.bx-chevron-right
        .step{ 'data-target' => '#social-links' }
          %button.step-trigger{ 'aria-selected' => 'false', 'type' => 'button', 'disabled' => 'disabled' }
            %span.bs-stepper-circle 2
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.issue_security_levels.table.list_of_security_levels')
        .line
          %i.bx.bx-chevron-right
        .step{ 'data-target' => '#levels', class: ('active' if params[:slug].present?) }
          %button.step-trigger{ 'aria-selected' => params[:slug].present?, 'type' => 'button', 'disabled' => ('disabled' unless params[:slug].present?) }
            %span.bs-stepper-circle 3
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.issue_security_levels.table.create_issue_security_levels')
        .line
          %i.bx.bx-chevron-right
        .step{ 'data-target' => '#members', class: ('active' if params[:issue_security_level_slug].present?) }
          %button.step-trigger{ 'aria-selected' => params[:issue_security_level_slug].present?, 'type' => 'button', 'disabled' => ('disabled' unless params[:issue_security_level_slug].present?) }
            %span.bs-stepper-circle 4
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.issue_security_members.table.create_issue_security_members')

      .bs-stepper-content
        - if params[:issue_security_scheme_slug].present? && !params[:slug].present? && !params[:issue_security_level_slug].present?
          .content.active.dstepper-block#account-details
            #site-issue-security-scheme-container
              = render partial: 'jira/issues/issue_security_schemes/form', locals: { issue_security_scheme: @issue_security_scheme, site: @source_site, source_issue_security_scheme: @source_issue_security_scheme, issue_security_scheme_slug: params[:issue_security_scheme_slug],
              url: jira_site_issues_issue_security_schemes_path(current_site.slug) }
        - elsif params[:slug].present? && !params[:issue_security_level_slug].present?
          .content.active.dstepper-block#levels
            #site-issue-security-level-container
              = render partial: 'jira/issues/issue_security_levels/form', locals: { issue_security_level: @issue_security_level, site: @source_site, source_issue_security_level: @source_issue_security_level, slug: params[:slug],
              url: jira_site_issues_issue_security_scheme_issue_security_levels_path(current_site.slug) }
        - else
          .content.active.dstepper-block#members
            = render partial: 'jira/issues/issue_security_members/form', locals: { issue_security_member: @issue_security_member, site: @source_site, source_issue_security_member: @source_issue_security_member,
            url: jira_site_issues_issue_security_scheme_issue_security_level_issue_security_members_path(current_site.slug, @issue_security_scheme.slug, @issue_security_level.slug, copy: true) }
