.d-flex.justify-content-between.align-items-center.mb-4
  .col-12.mb-4
    .bs-stepper.wizard-numbered.mt-2
      .bs-stepper-header.overflow-auto
        .step{ 'data-target' => '#account-details', class: ('active' if params[:notification_slug].present?) }
          %button.step-trigger{ 'aria-selected' => params[:notification_slug].present?, 'type' => 'button', 'disabled' => ('disabled' unless params[:notification_slug].present?) }
            %span.bs-stepper-circle 1
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.notification_schemes.table.create_notification_scheme')
        .line
          %i.bx.bx-chevron-right
        .step{ 'data-target' => '#levels', class: ('active' if params[:slug].present? && !params[:reference_id].present?) }
          %button.step-trigger{ 'aria-selected' => params[:slug].present?, 'type' => 'button', 'disabled' => ('disabled' unless params[:slug].present? && !params[:reference_id].present?) }
            %span.bs-stepper-circle 2
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.notification_schemes.table.list_of_notification_events')
        .line
          %i.bx.bx-chevron-right
        .step{ 'data-target' => '#social', class: ('active' if params[:copy].present? && params[:reference_id].present?) }
          %button.step-trigger{ 'aria-selected' => params[:copy].present?, 'type' => 'button', 'disabled' => ('disabled' unless params[:copy].present? && params[:reference_id].present?) }
            %span.bs-stepper-circle 3
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.notification_schemes.table.list_of_notification_scheme_notification')
      .bs-stepper-content
        - if params[:notification_slug].present?
          .content.active.dstepper-block#account-details
            = render partial: 'form', locals: { notification_scheme: @notification_scheme, site: @source_site, source_notification_scheme: @source_notification_scheme, url: jira_site_issues_notification_schemes_path(current_site.slug) }
        - elsif params[:slug].present? && !params[:reference_id].present?
          .content.active.dstepper-block#levels
            = render partial: 'notification_detail_form'
        - else
          .content.active.dstepper-block#social
            = render partial: 'add_notification_event', copy: true, notification_scheme: @notification_scheme, site: current_site, source_notification_scheme: nil, url: jira_site_issues_notification_schemes_path(site_slug: current_site.slug)
