.d-flex.justify-content-between.align-items-center.mb-4
  .col-12.mb-4
    .bs-stepper.wizard-numbered.mt-2
      .bs-stepper-header.overflow-auto
        .step{ 'data-target' => '#account-details', class: ('active' if params[:permission_slug].present? && !params[:slug].present?) }
          %button.step-trigger{ 'aria-selected' => params[:permission_slug].present?, 'type' => 'button', 'disabled' => ('disabled' unless params[:permission_slug].present? && !params[:slug].present?) }
            %span.bs-stepper-circle 1
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.permission_schemes.table.create_permission_scheme')
        .line
          %i.bx.bx-chevron-right
        .step{ 'data-target' => '#levels', class: ('active' if params[:slug].present? && params[:permission_slug].present?) }
          %button.step-trigger{ 'aria-selected' => params[:slug].present?, 'type' => 'button', 'disabled' => ('disabled' unless params[:slug].present? && params[:permission_slug].present?) }
            %span.bs-stepper-circle 2
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.permission_schemes.table.list_of_permission_scheme_permission')
        .line
          %i.bx.bx-chevron-right
        .step{ 'data-target' => '#social', class: ('active' if params[:permission].present?) }
          %button.step-trigger{ 'aria-selected' => params[:permission].present?, 'type' => 'button', 'disabled' => ('disabled' unless params[:permission].present?) }
            %span.bs-stepper-circle 3
            %span.bs-stepper-label.mt-1
              %span.bs-stepper-title= t('issues.permission_schemes.table.list_of_permission_scheme_grant')
      .bs-stepper-content
        - if params[:permission_slug].present? && !params[:slug].present?
          .content.active.dstepper-block#account-details
            = render partial: 'form', locals: { permission_scheme: @permission_scheme, site: @source_site, source_permission_scheme: @source_permission_scheme, url: jira_site_issues_issue_attributes_permission_schemes_path(current_site.slug) }
        - elsif params[:slug].present? && params[:copy_permission].present? && params[:permission_slug].present?
          .content.active.dstepper-block#levels
            = render partial: 'add_permission_scheme_permission', locals: { permission_scheme: @permission_scheme, site: current_site, source_permission_scheme: nil,
            url: add_permission_jira_site_issues_issue_attributes_permission_scheme_path(site_slug: current_site.slug, slug: @permission_scheme.slug) }
        - else
          .content.active.dstepper-block#social
            = render partial: 'find_permission', locals: { permission_scheme: @permission_scheme, grant: @grant, site: current_site, url: find_permission_jira_site_issues_issue_attributes_permission_scheme_path(site_slug: current_site.slug) }
