= form_with model: [:school, department], local: true, html: { multipart: true }, url: url, class: 'form' do |f|
  .row
    .col-md-6.mb-3
      %label.form-label.required
        = t('issues.departments.table.name')
      = f.text_field :name, class: "form-control #{error?(@department.errors, :name)}",
      value: f.object.name, placeholder: 'Name', required: true
      = print_error(@department.errors, :name)
  .col-12.d-flex.justify-content-between
    %button.btn.btn-primary{ type: 'submit', data: { confirm: 'Do you want to save the changes?' } }
      = t('issues.departments.table.save')
