!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title School Management System
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag 'application'
    = yield :css_code

  %body.boxed-size
    = render "/layouts/partials/sidebar"
    .container-fluid
      .main-content.d-flex.flex-column
        = render "/layouts/partials/navbar"
        = yield
        .flex-grow-1
        = render "/layouts/partials/footer"
        = render "/layouts/partials/settings"
    = yield :js_code
