!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title School Management System
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "authentication", "data-turbo-track": "reload"
    = javascript_include_tag 'authentication', "data-turbo-track": "reload"
    -# = render "/layouts/partials/javascripti_imports"
  %body.boxed-size.bg-white
    = yield
