!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title School Management System
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = render "/layouts/partials/javascripti_imports"
  %body.scrollspy-example{"data-bs-root-margin" => "0px 0px -40%", "data-bs-smooth-scroll" => "true", "data-bs-spy" => "scroll", "data-bs-target" => "#navbar-example2", tabindex: "0"}
    = render "/layouts/partials/landing_navbar"
    = yield
